[Unit]
Description=helium-watchtower Service
After=docker.service
Wants=network-online.target docker.socket
Requires=docker.socket
 
[Service]
User=root
Group=root
TimeoutStartSec=0
Restart=always
ExecStartPre=-/usr/bin/docker stop validator
ExecStartPre=-/usr/bin/docker rm validator
ExecStartPre=/usr/bin/docker pull quay.io/team-helium/validator:latest-validator-amd64
ExecStart=/usr/bin/docker image prune -f

[Install]
WantedBy=default.target
