# Timer for Helium Monitor Service

[Unit]
Description=Timer for Helium Validator Monitor 
Requires=validator-watch.service

[Timer]
Unit=validator-watch.service
OnCalendar=hourly
Persistent=true

[Install]
WantedBy=timers.target
